<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".TimeManagerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeManager"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan|adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".ui.screens.ScanActivity"
            android:exported="false"
            android:label="@string/title_activity_scan"
            android:theme="@style/Theme.TimeManager" />
        <activity
            android:name=".ui.screens.users_top.UsersTopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.my_awards.MyAwardsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.awards.AwardsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.create_task.CreateTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.my_task.MyTaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.my_children.MyChildrenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.list_task.TasksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.registration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.authorization.AuthorizationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>